<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="system_hss_gazebo" params="prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <!-- <parameters>$(find system_hss)/config/ros2_controllers_with_trajctory.yaml</parameters> -->
        <parameters>$(find system_hss)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>


<!-- 
    <gazebo reference="${prefix}base_link">
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Orange</name>
        </script>
      </material>
    </gazebo>

 
    <gazebo reference="${prefix}link1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Yellow</name>
        </script>
      </material>
    </gazebo>


    <gazebo reference="${prefix}link2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>
        <script>
          <uri>file://media/materials/scripts/gazebo.material</uri>
          <name>Gazebo/Yellow</name>
        </script>
      </material>
    </gazebo> -->
